<form action="/coo" method="POST">
  <h1>How you Cooing?</h1>

  {{#each errors}}
    <p class="error text-center">{{this}}</p>
  {{/each}}

  <input type="text" name="text" placeholder="Write your message">
  <button>Submit</button>
</form>