* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

header {
  background: #555;
  color: #fff;
  padding: 8px 5%;
  margin-bottom: 35px;
}

header nav > *:not(:last-child) {
  margin-right: 5px;
}

form {
  width: 380px;
  display: flex;
  flex-direction: column;
  margin: 35px auto 0;
}

form h1 {
  text-align: center;
}

form p.error {
  color: red;
}

form > * {
  padding: 7px 10px;
  margin: 5px 0;
}